html, body {
  position: fixed; 
  width: 100%;
  height: 100%;
  
  overflow: hidden; 
  
  touch-action: none; 
}

#p5-container {
  width: 100vw;
}

#showMenu {
  width: 30vw;
  height: 8vh;
}

.server-item {
  width: 50vw;
  margin: auto;
  height: 15vh;
  border: 1px solid black;
  text-align: center;
}

.server-invalid {
  background-color: #666666;
}

.serverName {
  font-size: 6vh;
  margin: 0;
  margin-bottom: 2vh;
}

.server {
  font-size: 2vh;
}

#serverListErr {
  color: red;
  text-align: center;
  font-size: 10vh;
}

.log-item {
  font-size: 1vh;
}
